.navbar{
  border-bottom: 1px solid #f1f1f1;
  padding: 0px 10px;
  background-color: white;
}

.list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;
  padding: 14px;
}

.listRightSide {
  display: flex;
  gap: 16px;
}

li > a,
li > p {
  color: #7ed56f;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

li > a:hover,
li > p:hover {
  color: #498a3e;
  cursor: pointer;
}