.formContainer {
  background-color: white;
  padding: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  flex-grow: 1;

  .formSection {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .button {
    margin-top: 10px;
    background-color: #7ed56f;
    color: white;
    border-radius: 20px;
  }

  .buttonInvalid{
    background-color: #f4f4f4;
    color: rgb(190, 190, 190);
    cursor: not-allowed;
    
    &:hover {
      border-color: transparent;
    }
  }
}

.clickable {
  cursor: pointer;
}

.label {
  font-weight: 700;
  margin-left: 20px;
  margin-top: 7px;
  display: block;
  transition: all .3s;
}

.errorMessage {
  font-size: 14px;
  margin: 0px;
  color: red;
  position: absolute;
  top: 52px;
  left: 16px;
  animation: .4s ease-in-out moveDown;
}

@keyframes moveDown {
  0%{
    opacity: 0%;
    transform: translateY(-20px);
  }

  100%{
    opacity: 100%;
    transform: translateY(0px);
  }
}